* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../backg.png);
}

header {
    background-color: rgb(255,1,193);
    width: 100vw;
}

nav, main {
    width: 80%;
    margin: 0 auto;
}

nav {
    margin-bottom: 150px;
    text-align: center;
}

.logo {
    width: 200px;
}

.pagination-container {
    text-align: center;
    margin-bottom: 50px;
}

.names {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.char-div {
    background-color: rgb(238, 228, 213);
    padding: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    cursor: pointer;
}

.char-div img {
    border-radius: inherit;
    width: 100%;
}

.char-div p {
    padding-top: 5px;
    text-align: center;
    font-size: x-large;
    color: rgb(1, 170, 204);
}


h3 {
    color: white;
}

.about {
    display: none;
}


/***********SIGLE CHARACTER STYLE*******************/

.about {
    background-color: rgb(89,0,179);
    color: white;
    font-size: 1.25em;
    padding: 40px 30px;
    width: 30%;
    height: fit-content;
}

h4 {
    text-align: center;
    margin-bottom: 30px;
}

.about-paragraph {
    line-height: 32px;
}

.about-paragraph span {
    color: rgb(0,176,207);
    font-style: italic;
    font-weight: 600;
}

h3 {
    color: rgb(58, 56, 56);
    text-align: center;
    padding-top: 40px;
    color: rgb(0,176,207);
    font-size: 3em;
}


.single-char {
    background-color: rgb(238, 228, 213);
    padding: 20px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    width: 100%;
    text-align: center;
}
.single-char img {
    width:80%;
    padding: 30px;
}

table {
    margin: 0 auto;
    border-spacing: 80px 3px;
    border-collapse: separate;
    padding-bottom: 20px;
}
table th {
    text-align: left;
}
table td {
    text-align: center;
}

.single-div {
    display: flex;
    justify-content: space-between;
}
.single-name {
    width: 50%;
}